---
import { SITE } from "@src/constants";
import { ReactComponent as GithubMark } from "@src/assets/images/github-mark.svg";
---

<footer class="border-t border-border-default">
  <div class="max-w-3xl mx-auto px-4 py-4 flex items-center justify-between">
    <span class="text-xs text-fg-muted">
      © 2023 {SITE.title}. All Rights Reserved.
    </span>
    <a
      class="text-fg-subtle flex"
      href="https://github.com/Unuuuuu"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Learn more about Unuuuuu on Github"
    >
      <GithubMark />
    </a>
  </div>
</footer>
