---
import { getSortedPostsByDate } from "@src/utils";
import type { CollectionEntry } from "astro:content";
import CategoryAndDate from "./CategoryAndDate.astro";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
const sortedPostsByDate = getSortedPostsByDate(posts);
---

<ul class="flex flex-col gap-4">
  {
    sortedPostsByDate.map((post) => {
      return (
        <li class="p-4 bg-bg-default border border-border-default rounded-md list-none">
          <h2 class="mb-2">
            <a
              href={`/posts/${post.slug}`}
              class="text-2xl text-accent-fg hover:underline font-semibold"
            >
              {post.data.title}
            </a>
          </h2>
          <CategoryAndDate post={post} />
        </li>
      );
    })
  }
</ul>
